global:
  scrape_interval: 15s # How often to scrape targets by default

scrape_configs:
  - job_name: 'spring-actuator'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['host.docker.internal:8080'] # Your Spring Boot app port
